{% extends 'users/base.html' %} {% block body %}
<div class="flex p-15 justify-center">
  <div class="container m-5">
    <div class="message-container m-20">
      <div class="flex user-container mb-2 mx-60 my-5">
        <h2 class="text-3xl font-norma m-10 text-gray-500">
          {{ chatroom.name }}
        </h2>
        <a
          class="bg-blue-700 text-white m-10 px-2 py-2"
          href="{% url 'chatrooms'%}"
          >Back to Chatrooms</a
        >
      </div>
    </div>

    <!--List chat messages with the user name, message and time -->
    <div
      class="message-container m-20 overflow-auto h-[400px]"
      id="message-container"
    >
      <div id="chat-messages" class="mx-20 px-15">
        {% for message in messages %}
        <div class="message shadow-lg p-3 m-3 rounded-lg bg-blue-300">
          <div class="text-sm text-gray-500">{{ message.user.username }}</div>
          <div class="text-xl m-5">{{ message.messages }}</div>
          <div class="text-sm text-gray-500">{{ message.date}}</div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!--Input the message in the button box and send it -->
    <div class="form-container fixed inset-x-0 bottom-0 bg-blue-800 p-6">
      <form method="post" class="mx-20 x-3">
        <input
          class="rounded-md h-10 w-3/4 px-2"
          id="message-input"
          type="text"
          name="message"
          placeholder="Enter message"
        />
        <button class="text-white ml-5" id="send-button" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</div>
{{ chatroom.slug|json_script:"json-chatroomname" }}
{{request.user.username|json_script:"json-username" }}

<script>
  //websocket is implemented to get the live chat result
  const chatRoomName = JSON.parse(
    document.getElementById("json-chatroomname").textContent
  );

  const username = JSON.parse(
    document.getElementById("json-username").textContent
  );
  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/" + chatRoomName + "/"
  );
  chatSocket.onmessage = function (e) {
    console.log("This is a message");
    const data = JSON.parse(e.data);
    if (data.message) {
      console.log("Recieved message to client is", data.message);
      let html =
        '<div class="message shadow-lg p-3 m-3 rounded-lg bg-blue-300">' +
        '<div class="text-sm text-gray-500">' +
        data.username +
        " </div> " +
        data.message +
        '<div class="text-sm text-gray-500">' +
        "Now" +
        "</div>";
      document.getElementById("chat-messages").innerHTML += html;
      scroll();
    } else {
      alert("The message was empty");
    }
  };
  chatSocket.onclose = function (e) {
    console.log("Socket closed");
  };

  document.getElementById("send-button").onclick = function (e) {
    e.preventDefault();
    const messageInput = document.getElementById("message-input");
    const message = messageInput.value;
    console.log(message);

    chatSocket.send(
      JSON.stringify({
        message: message,
        username: username,
        room: chatRoomName,
      })
    );
    messageInput.value = "";
  };

  //when there are too much messages, the screen is scroll to show the new message
  function scroll() {
    const mcontainer = document.getElementById("message-container");
    mcontainer.scrollTop = mcontainer.scrollHeight;
  }

  //scroll();
</script>
{% endblock %}
