{% extends 'users/base.html' %} {% load static %} {% block body %}

<div class="flex px-60 justify-center">
  <div class="container m-5">
    <h2 class="text-xl m-8 font-bold">Edit Post (●'◡'●)</h2>
    <!-- list all the chatroom name -->

    <div class="container m-5">
      <!--Render the form to make a new status post-->
      <form
        method="POST"
        class="bg-white shadow-md m-10 px-10 rounded pt-6 w-4/5"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Add Title:</label
          >
          <div
            class="shadow appearance-once border rounded p-2 mr-10 text-grey-700"
          >
            {{ editpostform.title }}
          </div>
        </div>
        <div class="mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Upload Image:</label
          >
          <div
            class="shadow appearance-once border rounded mr-10 text-grey-700 p-2"
          >
            {{ editpostform.image }}
          </div>
        </div>
        <div class="mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2"
            >Add Caption
            <caption></caption>
            :</label
          >
          <div
            class="shadow appearance-once border rounded mr-10 text-grey-700"
          >
            {{ editpostform.caption }}
          </div>
        </div>
        <button type="submit" class="bg-blue-700 text-white my-5 px-5 py-2">
          Submit
        </button>
      </form>
      <!--end render post-->
    </div>
  </div>
</div>
{% endblock %}

