{% extends 'users/base.html' %} {% block body %}
<div class="flex mt-5 p-10 justify-center">
  <h1 class="text-3xl font-normal m-20 text-gray-900">Notifications</h1>
  <div div class="mb-2 py-5 mx-10 justify-center">
    {% for notification in notifications %}
    <li class="">
      <p>{{ notification.message }}</p>
      <small>Received at: {{ notification.timestamp }}</small>
    </li>
    {% endfor %}
    <div class="my-10">
      <a
        class="bg-blue-700 rounded text-white px-5 py-2"
        href="{% url 'inbox'%}"
        >Back to Inbox</a
      >
    </div>
  </div>
</div>

<div class="container m-5">
  <!--Render the form to make a new status post-->
  <form
    method="POST"
    class="bg-white shadow-md m-10 px-10 rounded pt-6 w-4/5"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-2"
        >Add Title:</label
      >
      <div class="shadow appearance-once border rounded mr-10 text-grey-700">
        {{ yogahubform.title }}
      </div>
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-2"
        >Upload Image:</label
      >
      <div
        class="shadow appearance-once border rounded mr-10 text-grey-700 p-2"
      >
        {{ yogahubform.image }}
      </div>
    </div>
    <div class="mb-2">
      <label class="block text-gray-700 text-sm font-bold mb-2"
        >Add Capt
        <caption></caption>
        :</label
      >
      <div class="shadow appearance-once border rounded mr-10 text-grey-700">
        {{ yogahubform.caption }}
      </div>
    </div>
    <button type="submit" class="bg-blue-700 text-white my-5 px-5 py-2">
      Submit
    </button>
  </form>
  <!--end render post-->
</div>

{% endblock %}
