{% extends 'users/base.html' %} {% block body %}
<div class="flex mt-5 p-10 justify-center">
  <h1 class="text-3xl font-normal mb-2 text-gray-500">
    Homepage for users app
  </h1>
</div>
<div class="grid grid-cols-1">
  {% for class in classes %}
  <div class="user-container"></div>
  <h1>{{class.title}}</h1>
  <h4>class_type: {{class.class_type}}</h4>
  <h4>classroom_equipment:{{class.classroom_equipment}}</h4>
  <h4>description:{{class.description}}</h4>
  <h4>enrolled_students:{{class.enrolled_students}}</h4>
  <div class="user-container">
    <h4>enrollment:{{class.enrollment}}</h4>
  </div>
  <h4>id:{{class.id}}</h4>
  <h4>interaction:{{class.interaction}}</h4>
  <h4>location:{{class.location}}</h4>
  <h4>material:{{class.material}}</h4>
  <h4>Date:{{class.date}}</h4>
  <h4>Time:{{class.time}}</h4>
  {% endfor %}
</div>
{% endblock %}
